{#- static ip bootparams are to ensure the host configures with a static ip and not dhcpd -#}
{#- see https://docs.redhat.com/en/documentation/red_hat_enterprise_linux/9/html/boot_options_for_rhel_installer/kickstart-and-advanced-boot-options_boot-options-for-rhel-installer#installation-source-boot-options_kickstart-and-advanced-boot-options -#}
{#- https://linuxlink.timesys.com/docs/static_ip -#}
{% set ip = host['ip'] %}
{% set gw = ocp_infra['network']['gateway'] %}
{% set nm = ocp_infra['network']['netmask'] %}
{% set dns = (ocp_infra['hosts'] | selectattr('role', 'equalto', 'svc') | map(attribute='ip'))[0] %}
{% set web = dns %}
{% set name = host['name'] %}
{% set domain = ocp_infra['network']['domain'] %}
{% set dev = ocp_svc_network_device %}
# {{ host['role'] }} {{ host['name'] }}
default vesamenu.c32
prompt 0
timeout 100
MENU TITLE PXE Menu

LABEL scos
  MENU LABEL scos
  MENU DEFAULT
  KERNEL ../boot/scos/scos-live-kernel-x86_64.img 
  INITRD ../boot/scos/scos-live-initramfs-x86_64.img
  APPEND ip={{ ip }}::{{ gw }}:{{ nm }}:{{ name }}.okd.{{ domain }}:{{ dev }}:none {# -#}
    nameserver={{ dns }} {# -#}
    coreos.live.rootfs_url=http://{{ web }}/scos-live-rootfs.x86_64.img {# -#}
    coreos.inst.install_dev=/dev/sda {# -#}
    coreos.inst.ignition_url=http://{{ web }}/{{ host['role'] }}.ign
