$TTL 8h
@ IN SOA {{ inventory_hostname }}. root.{{ inventory_hostname }}. (
  {{ zone_serial }} ; serial
  3H ; refresh (3 hours)
  30M ; retry (30 minutes)
  2W ; expiry (2 weeks)
  1W ) ; minimum (1 week)
  IN NS {{ ansible_host }}.
{% set loadbalancer_ip = (ocp_infra['hosts'] | selectattr('role', 'equalto', 'loadbalancer') | map(attribute='ip'))[0] %}
api.okd IN A {{ loadbalancer_ip }}
api-int.okd IN A {{ loadbalancer_ip }}
*.apps.okd IN A {{ loadbalancer_ip }}
{% for host in ocp_infra['hosts'] %}
{%   if host['role'] in ['svc','loadbalancer'] %}
{{ host['name'] }} IN A {{ host['ip'] }}
{%   else %}
{{ host['name'] }}.okd IN A {{ host['ip'] }}
{%   endif %}
{% endfor %}