<domain type="kvm">
  <name>{{ vm_name }}</name>
  <metadata>
    <libosinfo:libosinfo xmlns:libosinfo="http://libosinfo.org/xmlns/libvirt/domain/1.0">
      <libosinfo:os id="http://fedoraproject.org/coreos/stable"/>
    </libosinfo:libosinfo>
  </metadata>
  <memory unit="{{ ram_unit }}">{{ ram }}</memory>
  <currentMemory unit="{{ ram_unit }}">{{ ram }}</currentMemory>
  <vcpu placement="static">{{ vcpu }}</vcpu>
  <os{% if boot == "efi"  %} firmware="efi"{% endif %}>
    <type arch="x86_64" machine="pc-q35-8.2">hvm</type>
{% if boot == "efi"  %}
    <firmware>
    {% if efi_secure_boot %}
      <feature enabled="yes" name="enrolled-keys"/>
      <feature enabled="yes" name="secure-boot"/>
    </firmware>
    <loader readonly="yes" secure="yes" type="pflash" format="qcow2">/usr/share/edk2/ovmf/OVMF_CODE_4M.secboot.qcow2</loader>
    <nvram template="/usr/share/edk2/ovmf/OVMF_VARS_4M.secboot.qcow2" format="qcow2"/>
    {% else %}
      <feature enabled="no" name="enrolled-keys"/>
      <feature enabled="no" name="secure-boot"/>
    </firmware>
    <loader readonly="yes" secure="no" type="pflash" format="qcow2">/usr/share/edk2/ovmf/OVMF_CODE_4M.qcow2</loader>
    <nvram template="/usr/share/edk2/ovmf/OVMF_VARS_4M.qcow2" format="qcow2"/>
    {% endif %}
    
{% endif %}
    <bootmenu enable="yes"/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <vmport state="off"/>
  </features>
  <cpu mode="host-passthrough" check="none" migratable="on"/>
  <clock offset="utc">
    <timer name="rtc" tickpolicy="catchup"/>
    <timer name="pit" tickpolicy="delay"/>
    <timer name="hpet" present="no"/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <pm>
    <suspend-to-mem enabled="no"/>
    <suspend-to-disk enabled="no"/>
  </pm>
  <devices>
    <emulator>/usr/bin/qemu-system-x86_64</emulator>
    <disk type="file" device="disk">
      <driver name="qemu" type="qcow2" discard="unmap"/>
      <source file="{{ storage_location }}"/>
      <target dev="vda" bus="virtio"/>
      <boot order="1"/>
      <address type="pci" domain="0x0000" bus="0x04" slot="0x00" function="0x0"/>
    </disk>
    <controller type="sata" index="0">
    </controller>
    <controller type="virtio-serial" index="0">
    </controller>
    <interface type="bridge">
      <mac address="{{ mac_address }}"/>
      <source bridge="{{ bridge }}"/>
      <model type="virtio"/>
      <boot order="2"/>
    </interface>
    <serial type="pty">
      <target type="isa-serial" port="0">
      </target>
    </serial>
    <console type="pty">
      <target type="serial" port="0"/>
    </console>
    <channel type="unix">
      <target type="virtio" name="org.qemu.guest_agent.0"/>
    </channel>
    <channel type="spicevmc">
      <target type="virtio" name="com.redhat.spice.0"/>
    </channel>
    <input type="tablet" bus="usb">
    </input>
    <input type="mouse" bus="ps2"/>
    <input type="keyboard" bus="ps2"/>
    <graphics type="spice" autoport="yes">
      <listen type="address"/>
      <image compression="off"/>
    </graphics>
    <sound model="ich9">
    </sound>
    <audio id="1" type="spice"/>
    <video>
      <model type="virtio" heads="1" primary="yes"/>
    </video>
    <redirdev bus="usb" type="spicevmc">
    </redirdev>
    <redirdev bus="usb" type="spicevmc">
    </redirdev>
    <watchdog model="itco" action="reset"/>
    <memballoon model="virtio">
    </memballoon>
    <rng model="virtio">
      <backend model="random">/dev/urandom</backend>
    </rng>
  </devices>
</domain>
