apiVersion: v1
baseDomain: {{ ocp_infra['network']['domain'] }} 
compute: 
- hyperthreading: Enabled 
  name: worker
  replicas: {{ groups[workers] | length }}
controlPlane: 
  hyperthreading: Enabled 
  name: master
  replicas: {{ groups[masters] | length }}
metadata:
  name: {{ ocp_ignition_cluster_name }} 
networking:
  clusterNetwork:
{% for network in ocp_ignition_clusternetwork %}
  - cidr: {{ network.cidr }}
    hostprefix: {{ network.hostprefix }}
{% endfor %}
  networkType: {{ ocp_ignition_networktype }} 
  serviceNetwork:
{% for network in ocp_ignition_servicenetwork %}
  - {{ network }}
{% endfor %}
platform:
  none: {} 
pullSecret: '{{ ocp_ignition_pullsecret }}' 
sshKey: '{{ ocp_ignition_core_ssh_key }}'
{% if ocp_local_registry is defined %}
imageDigestSources:
- mirrors:
  - {{ ocp_local_registry }}/{{ ocp_local_repo }}/{{ ocp_release_name }}
  source: {{ ocp_remote_registry }}/{{ ocp_product_repo }}/{{ ocp_release_name }}
- mirrors:
  - {{ ocp_local_registry }}/{{ ocp_local_repo }}/{{ ocp_release_name }}
  source: {{ ocp_remote_registry }}/{{ ocp_product_repo }}/{{ ocp_release_name }}-content 
{% endif %}
{% if additionaltrustbundle is defined %}
additionalTrustBundle: |
  {{ additionaltrustbundle | indent(2) }}
{% endif %}